body {
    background-color:#000;
    text-align:center;
}

.astroContainer {
    width:900px;
    height:600px;
    box-shadow:0px 3px 12px rgba(0,0,0,0.1);
    border:1px solid #fff;
    margin:0 auto;
    position:relative;
    margin-top:100px;
}

.astroContainer .astroHud {
    position:absolute;
    bottom:0;
    left:0;
    width:213px;
    height:112px;
    z-index:20;
    display:flex;
    align-items:center;
    flex-direction:row;
    padding:16px;
    box-sizing:border-box;
}

.astroContainer .astroHud .astroAbility {
    cursor:pointer;
    width:80px;
    height:80px;
    background-color:#76438d;
    border:2px solid rgb(255, 255, 255);
    border-radius:4px;
}

.astroContainer .astroHud .astroAbility:last-of-type {
    margin-left:12px;
}

.astroContainer .astroHud .astroAbility:hover {
    filter:brightness(110%);
}

.astroContainer .astroHud .astroAbility:active {
    filter:brightness(180%);
    transform:scale(110%);
}

.astroContainer .astroHud .astroAbility:first-of-type {
    background-image:url('../images/fireball.png');
    background-repeat:no-repeat;
    background-size:66px 59px;
    background-position:center;
}

.astroContainer #gameContainer {
    background-image:url('../images/backdrop.png');
    background-repeat:no-repeat;
    background-color:#000;
    z-index:10;
}

h1 {
    color:#fff;
    text-transform:uppercase;
    font-family:'Courier New';
    font-size:12px;
    padding:0;
    margin:40px;
}