body {
    background-color:#000;
    text-align:center;
    font-family:'Courier New';
}

.astroContainer {
    width:900px;
    height:600px;
    box-shadow:0px 3px 12px rgba(0,0,0,0.1);
    border:1px solid #fff;
    margin:0 auto;
    position:relative;
    margin-top:100px;
    user-select:none;
}

.astroContainer .astroSplashscreen {
    width:900px;
    height:600px;
    background-color:#000;
    position:absolute;
    top:0;
    left:0;
    z-index:20;
    background-image:url('../images/splashscreen.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    animation:flashScreen 0.2s ease-in infinite;
}

@keyframes flashScreen {
    50% {
        filter:brightness(130%);
    }
}

.astroContainer #gameContainer {
    position:absolute;
    top:0;
    left:0;
    background-repeat:no-repeat;
    z-index:10;
}

.astroContainer #gameBackdrop {
    filter:blur(0.9px);
    background-image:url('../images/backdrop.png');
    background-repeat:no-repeat;
    z-index:-10;
}

.astroContainer .astroAbilityContainer {
    position:absolute;
    bottom:0;
    left:25px;
    width:213px;
    height:112px;
    z-index:20;
    display:flex;
    align-items:center;
    flex-direction:row;
    box-sizing:border-box;
}

.astroContainer .astroAbilityContainer .astroAbility {
    cursor:pointer;
    width:60px;
    height:60px;
    background-color:#241829;
    border:2px solid rgb(255, 255, 255);
    border-radius:4px;
}

.astroContainer .astroAbilityContainer .astroAbility:last-of-type {
    margin-left:24px;
}

.astroContainer .astroAbilityContainer .astroAbility:hover {
    filter:brightness(110%);
}

.astroContainer .astroAbilityContainer .astroAbility:active {
    filter:brightness(180%);
    transform:scale(110%);
}

.astroContainer .astroAbilityContainer .astroAbility:nth-of-type(1) {
    background-image:url('../images/asteroid.png');
    background-repeat:no-repeat;
    background-size:64px 64px;
    background-position:center;
}

.astroContainer .astroAbilityContainer .astroAbility:nth-of-type(2) {
    background-image:url('../images/beam.png');
    background-repeat:no-repeat;
    background-size:60px 60px;
    background-position:center;
}

.astroContainer .astroHud {
    position:absolute;
    bottom:0;
    right:20px;
    width:440px;
    height:60px;
    z-index:20;
    display:flex;
    flex-direction:row;
    box-sizing:border-box;
    text-align:left;
    justify-content:space-between;
    user-select:none;
}

.astroContainer .astroHud .astroStats1, .astroContainer .astroHud .astroStats2 {
    width:48%;
    background-image:url('../images/heart.png');
    background-repeat:no-repeat;
    background-position:10px 3px;
    color:#fff;
    font-weight:700;
}

.astroContainer .astroHud .astroStats1HP, .astroContainer .astroHud .astroStats2HP {
    position:relative;
    left:33px;
}

.astroContainer .astroHud .astroStats1 .astroStats1Bar, .astroContainer .astroHud .astroStats2 .astroStats2Bar {
    width:90%;
    height:10px;
    background: linear-gradient(90deg, #FFF 100%, transparent 0%);
    border:2px solid #7f7f7f;
    position:relative;
    left:5%;
    top:5%;
}

.astroContainer .astroHud .astroStats2 {
    color:red;
}

.astroContainer .astroHud .astroStats2 .astroStats2Bar {
    background: linear-gradient(90deg, rgb(255, 0, 0) 100%, transparent 0%);
    border:2px solid #7f0000;
}

h1 {
    color:#fff;
    text-transform:uppercase;
    font-size:12px;
    padding:0;
    margin:40px;
}

.astroContainer_stats {
    color:#fff;
    width:900px;
    margin-left:auto;
    margin-right:auto;
    text-align:right;
    padding-top:10px;
    font-weight:700;
    padding-right:10px;
    box-sizing: border-box;
}